{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="line"></div>
    <section class="college">
        <div class="container">
            <div class="college__content">
                <div class="college__left">
                    <h1>Докторантура МУИТ</h1>
                    <p>
                        Подбери программу обучения и узнай, какая профессия тебе подходит
                    </p>
                    <button>Подать заявку</button>
                </div>
                <div class="college__right">
                    <img src="{% static '../assets/img/university/image 4.png' %}" alt="#">
                </div>
                <div class="college__mobile">
                    <div class="college__mobile--version">
                        <h1>О магистратуре МУИТ</h1>
                        <p>
                            Магистратура – ступень высшего профессионального образования, следующая после бакалавриата,
                            позволяющая углубить специализацию по определённому профессиональному направлению, а в
                            некоторых случаях — сменить её.Магистратура позволяет кардинально сменить направление
                            обучения. Поступая в магистратуру, студент может выбрать любое направление подготовки
                            независимо от того, по какой специальности он окончил специалитет или бакалавриат. Таким
                            образом, многие выбирают специальность магистратуры, чтобы дополнить свое образование или
                            изменить будущую профессию.
                        </p>
                        <img src="{% static '../assets/img/university/image 4.png' %}" alt="#">
                        <button>Подать заявку</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="line"></div>
    <section class="AboutCollege">
        <div class="container">
            <div class="AboutCollege__content">
                <h2>О докторантуре </h2>
                <p>
                    Докторантура – подготовка кадров высшей квалификации. Во все времена обучение в докторантуре
                    считалось уделом избранных. Поступить в докторантуру может каждый выпускник вуза, имеющий склонность
                    к научно-исследовательской деятельности и стремящийся реализовать себя в научном поиске.
                </p>
                <div class="AboutCollege__block">
                    <div class="AboutCollege__box">
                        <h3>Со 2-го курса</h3>
                        <p>Производственная практика</p>
                    </div>
                    <div class="AboutCollege__box">
                        <h3>Со 2-го курса</h3>
                        <p>Производственная практика</p>
                    </div>
                    <div class="AboutCollege__box">
                        <h3>Со 2-го курса</h3>
                        <p>Производственная практика</p>
                    </div>
                    <div class="AboutCollege__box">
                        <h3>Со 2-го курса</h3>
                        <p>Производственная практика</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="studying">
        <div class="container">
            <div class="studying__content">
                <h2>Программы обучения</h2>
                <div class="studying__dropdown--block">
                    <select class="studying__dropdown" id="color-dropdown">
                        <option class="studying__option">Выберите факультет</option>
                        <option class="studying__option">Программирование</option>
                        <option class="studying__option">Программирование</option>
                    </select>
                    <select class="studying__dropdown" id="color-dropdown">
                        <option class="studying__option">Выберите формат обучения</option>
                        <option class="studying__option">Программирование</option>
                        <option class="studying__option">Программирование</option>
                    </select>
                </div>
                <div class="studying__btn">
                    <button>9 классов</button>
                    <button>9 классов</button>
                    <button>9 классов</button>
                    <button>9 классов</button>
                </div>
                <div class="studying__block">
                    <div class="studying__box">
                        <h3>Колледж/КСиТ</h3>
                        <h4>
                            Программное обеспечение вычислительной
                            техники и автоматизированных систем
                        </h4>
                        <div class="studying__box--btn">
                            <button>Подробнее</button>
                            <button>Поступить</button>
                        </div>
                    </div>
                    <div class="studying__box">
                        <h3>Колледж/КСиТ</h3>
                        <h4>
                            Программное обеспечение вычислительной
                            техники и автоматизированных систем
                        </h4>
                        <div class="studying__box--btn">
                            <button>Подробнее</button>
                            <button>Поступить</button>
                        </div>
                    </div>
                    <div class="studying__box">
                        <h3>Колледж/КСиТ</h3>
                        <h4>
                            Программное обеспечение вычислительной
                            техники и автоматизированных систем
                        </h4>
                        <div class="studying__box--btn">
                            <button>Подробнее</button>
                            <button>Поступить</button>
                        </div>
                    </div>
                    <div class="studying__box">
                        <h3>Колледж/КСиТ</h3>
                        <h4>
                            Программное обеспечение вычислительной
                            техники и автоматизированных систем
                        </h4>
                        <div class="studying__box--btn">
                            <button>Подробнее</button>
                            <button>Поступить</button>
                        </div>
                    </div>
                    <div class="studying__box">
                        <h3>Колледж/КСиТ</h3>
                        <h4>
                            Программное обеспечение вычислительной
                            техники и автоматизированных систем
                        </h4>
                        <div class="studying__box--btn">
                            <button>Подробнее</button>
                            <button>Поступить</button>
                        </div>
                    </div>
                    <div class="studying__box">
                        <h3>Колледж/КСиТ</h3>
                        <h4>
                            Программное обеспечение вычислительной
                            техники и автоматизированных систем
                        </h4>
                        <div class="studying__box--btn">
                            <button>Подробнее</button>
                            <button>Поступить</button>
                        </div>
                    </div>
                    <button class="studying__add">
                        Показать ещё
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="staff">
        <div class="container">
            <div class="staff__content">
                <div class="staff__filter">
                    <ul>
                        <li>Ректорат</li>
                        <li>Директор институтов</li>
                        <li>Директор институтов</li>
                        <li>Директор институтов</li>
                    </ul>
                </div>
                <div class="staff__block swiper staffSlider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="staff__box">
                                <div class="staff__left">
                                    <img src="{% static '../assets/img/staff/rector.png' %}" alt="#">
                                </div>
                                <div class="staff__right">
                                    <h1>Бегалиев Улугбек Турдалиевич</h1>
                                    <p>
                                        Ректор Международного университета
                                        инновационных технологий (МУИТ), д.т.н., профессор
                                        МУИТ
                                    </p>
                                    <img src="{% static '../assets/img/staff/image 51.svg' %}" alt="#">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="staff__box">
                                <div class="staff__left">
                                    <img src="{% static '../assets/img/staff/rector.png' %}" alt="#">
                                </div>
                                <div class="staff__right">
                                    <h1>Бегалиев Улугбек Турдалиевич</h1>
                                    <p>
                                        Ректор Международного университета
                                        инновационных технологий (МУИТ), д.т.н., профессор
                                        МУИТ
                                    </p>
                                    <img src="{% static '../assets/img/staff/image 51.svg' %}" alt="#">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="staff__box">
                                <div class="staff__left">
                                    <img src="{% static '../assets/img/staff/rector.png' %}" alt="#">
                                </div>
                                <div class="staff__right">
                                    <h1>Бегалиев Улугбек Турдалиевич</h1>
                                    <p>
                                        Ректор Международного университета
                                        инновационных технологий (МУИТ), д.т.н., профессор
                                        МУИТ
                                    </p>
                                    <img src="{% static '../assets/img/staff/image 51.svg' %}" alt="#">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="staff__box">
                                <div class="staff__left">
                                    <img src="{% static '../assets/img/staff/rector.png' %}" alt="#">
                                </div>
                                <div class="staff__right">
                                    <h1>Бегалиев Улугбек Турдалиевич</h1>
                                    <p>
                                        Ректор Международного университета
                                        инновационных технологий (МУИТ), д.т.н., профессор
                                        МУИТ
                                    </p>
                                    <img src="{% static '../assets/img/staff/image 51.svg' %}" alt="#">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="staff__box">
                                <div class="staff__left">
                                    <img src="{% static '../assets/img/staff/rector.png' %}" alt="#">
                                </div>
                                <div class="staff__right">
                                    <h1>Бегалиев Улугбек Турдалиевич</h1>
                                    <p>
                                        Ректор Международного университета
                                        инновационных технологий (МУИТ), д.т.н., профессор
                                        МУИТ
                                    </p>
                                    <img src="{% static '../assets/img/staff/image 51.svg' %}" alt="#">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="application">
        <div class="container">
            <div class="application__content">
                <h2>Оставь заявку на обучение</h2>
                <div class="application__block">
                    <input type="text" placeholder="Имя">
                    <input type="number" placeholder="Телефон">
                    <button>Подать заявку</button>
                </div>
                <div class="application__chekbox">
                    <input type="checkbox">
                    <p>
                        Я даю согласие на обработку персональных данных согласен на получение информационных рассылок
                        от Университета «МУИТ» и соглашаюсь с политикой конфиденциальности
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="specialAbilities">
        <div class="container">
            <div class="specialAbilities__content">
                <h1>Специальные возможности</h1>
                <div class="specialAbilities__block">
                    <div class="specialAbilities__box">
                        <h2>Доступность учебных материалов</h2>
                        <p>
                            Если вы не смогли принять участие на одном из занятий по не зависящей от Вас причине, не
                            беспокойтесь. Учебно-методические материалы, видеолекции, домашние задания и тесты всегда
                            доступны в системе программы MOODLE. Вы можете в любое время повторить материал,
                            конспектировать, догнать сокурсников, быть в курсе и передовым специалистом
                        </p>
                    </div>
                    <div class="specialAbilities__box">
                        <h2>Доступность учебных материалов</h2>
                        <p>
                            Если вы не смогли принять участие на одном из занятий по не зависящей от Вас причине, не
                            беспокойтесь. Учебно-методические материалы, видеолекции, домашние задания и тесты всегда
                            доступны в системе программы MOODLE. Вы можете в любое время повторить материал,
                            конспектировать, догнать сокурсников, быть в курсе и передовым специалистом
                        </p>
                    </div>
                    <div class="specialAbilities__box">
                        <h2>Доступность учебных материалов</h2>
                        <p>
                            Если вы не смогли принять участие на одном из занятий по не зависящей от Вас причине, не
                            беспокойтесь. Учебно-методические материалы, видеолекции, домашние задания и тесты всегда
                            доступны в системе программы MOODLE. Вы можете в любое время повторить материал,
                            конспектировать, догнать сокурсников, быть в курсе и передовым специалистом
                        </p>
                    </div>
                    <div class="specialAbilities__box">
                        <h2>Доступность учебных материалов</h2>
                        <p>
                            Если вы не смогли принять участие на одном из занятий по не зависящей от Вас причине, не
                            беспокойтесь. Учебно-методические материалы, видеолекции, домашние задания и тесты всегда
                            доступны в системе программы MOODLE. Вы можете в любое время повторить материал,
                            конспектировать, догнать сокурсников, быть в курсе и передовым специалистом
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="studentReviews">
        <div class="container">
            <div class="studentReviews__content">
                <h1>Отзывы студентов</h1>
            </div>
            <div class="studentReviews__block swiper studentReviewsSlider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="studentReviews__box">
                            <img src="{% static '../assets/img/studentReviews/Rectangle 44.png' %}" alt="#">
                            <h2>Юрий Калапанов</h2>
                            <p>
                                Я учусь в МУИТ по программе “Графического дизайна”, полностью доволен обучением в “МУИТ”.
                                Профессиональные преподаватели, разнообразные программы создают отличные условия для обучения.
                                Это идеальное место для формирования навыков и подготовки к успешной карьере.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="studentReviews__box">
                            <img src=".{% static './assets/img/studentReviews/Rectangle 44.png' %}" alt="#">
                            <h2>Юрий Калапанов</h2>
                            <p>
                                Я учусь в МУИТ по программе “Графического дизайна”, полностью доволен обучением в “МУИТ”.
                                Профессиональные преподаватели, разнообразные программы создают отличные условия для обучения.
                                Это идеальное место для формирования навыков и подготовки к успешной карьере.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="studentReviews__box">
                            <img src="{% static '../assets/img/studentReviews/Rectangle 44.png' %}" alt="#">
                            <h2>Юрий Калапанов</h2>
                            <p>
                                Я учусь в МУИТ по программе “Графического дизайна”, полностью доволен обучением в “МУИТ”.
                                Профессиональные преподаватели, разнообразные программы создают отличные условия для обучения.
                                Это идеальное место для формирования навыков и подготовки к успешной карьере.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="studentReviews__box">
                            <img src="{% static '../assets/img/studentReviews/Rectangle 44.png' %}" alt="#">
                            <h2>Юрий Калапанов</h2>
                            <p>
                                Я учусь в МУИТ по программе “Графического дизайна”, полностью доволен обучением в “МУИТ”.
                                Профессиональные преподаватели, разнообразные программы создают отличные условия для обучения.
                                Это идеальное место для формирования навыков и подготовки к успешной карьере.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="news">
        <div class="container">
            <div class="news__content">
                <h1>Новостной блог</h1>
                <div class="news__block swiper newsSlider" >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="news__box">
                                <img src="{% static '../assets/img/news/Rectangle 27.png' }" alt="">
                                <h2>“Эл аралык кызматташтык”</h2>
                                <p>24.02.2024</p>
                            </div>        
                        </div>
                        <div class="swiper-slide">
                            <div class="news__box">
                                <img src="{% static '../assets/img/news/Rectangle 27.png' %}" alt="">
                                <h2>“Эл аралык кызматташтык”</h2>
                                <p>24.02.2024</p>
                            </div>        
                        </div>
                        <div class="swiper-slide">
                            <div class="news__box">
                                <img src="{% static '../assets/img/news/Rectangle 27.png' %}" alt="">
                                <h2>“Эл аралык кызматташтык”</h2>
                                <p>24.02.2024</p>
                            </div>        
                        </div>
                        <div class="swiper-slide">
                            <div class="news__box">
                                <img src="{% static '../assets/img/news/Rectangle 27.png' %}" alt="">
                                <h2>“Эл аралык кызматташтык”</h2>
                                <p>24.02.2024</p>
                            </div>        
                        </div>
                        <div class="swiper-slide">
                            <div class="news__box">
                                <img src="{% static '../assets/img/news/Rectangle 27.png' %}" alt="">
                                <h2>“Эл аралык кызматташтык”</h2>
                                <p>24.02.2024</p>
                            </div>        
                        </div>
                        <div class="swiper-slide">
                            <div class="news__box">
                                <img src="{% static '../assets/img/news/Rectangle 27.png' %}" alt="">
                                <h2>“Эл аралык кызматташтык”</h2>
                                <p>24.02.2024</p>
                            </div>        
                        </div>
                    </div>
                </div>
                <button>Все новости</button>
            </div>
        </div>
    </section>
{% endblock %}