{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="uncos">
        <div class="container">
            <div class="uncos__content">
                <div class="uncos__row">
                    <p class="uncos__title">Новости</p>
                </div>
                <div class="uncos__block">
                    <div class="uncos__box">
                        <img src="{% static '../assets/img/uncos/Rectangle 66.png' %}" alt="">
                        <div class="uncos__text">
                            <h1>РОССИЙСКО - КЫРГЫЗСКИЙ ИНСТИТУТ АВТОМАТИЗАЦИИ УПРАВЛЕНИЯ БИЗНЕСА</h1>
                            <h2>Профориентационная работа</h2>
                            <p>16 февраля  2024 года в рамках профориентационной  работы , силами преподавателей
                                Российско – Кыргызского института автоматизации управления бизнеса был проведен  День
                                открытых дверей в онлайн</p>
                            <div class="uncos__read">
                                <p>17 февраля 2024 г. 3:28</p>
                                <button>Читать полностью</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uncos__block">
                    <div class="uncos__box">
                        <img src="{% static '../assets/img/uncos/Rectangle 66.png' %}" alt="">
                        <div class="uncos__text">
                            <h1>РОССИЙСКО - КЫРГЫЗСКИЙ ИНСТИТУТ АВТОМАТИЗАЦИИ УПРАВЛЕНИЯ БИЗНЕСА</h1>
                            <h2>Профориентационная работа</h2>
                            <p>16 февраля  2024 года в рамках профориентационной  работы , силами преподавателей
                                Российско – Кыргызского института автоматизации управления бизнеса был проведен  День
                                открытых дверей в онлайн</p>
                            <div class="uncos__read">
                                <p>17 февраля 2024 г. 3:28</p>
                                <button>Читать полностью</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uncos__block">
                    <div class="uncos__box">
                        <img src="{% static '../assets/img/uncos/Rectangle 66.png' %}" alt="">
                        <div class="uncos__text">
                            <h1>РОССИЙСКО - КЫРГЫЗСКИЙ ИНСТИТУТ АВТОМАТИЗАЦИИ УПРАВЛЕНИЯ БИЗНЕСА</h1>
                            <h2>Профориентационная работа</h2>
                            <p>16 февраля  2024 года в рамках профориентационной  работы , силами преподавателей
                                Российско – Кыргызского института автоматизации управления бизнеса был проведен  День
                                открытых дверей в онлайн</p>
                            <div class="uncos__read">
                                <p>17 февраля 2024 г. 3:28</p>
                                <button>Читать полностью</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uncos__block">
                    <div class="uncos__box">
                        <img src="{% static '../assets/img/uncos/Rectangle 66.png' %}" alt="">
                        <div class="uncos__text">
                            <h1>РОССИЙСКО - КЫРГЫЗСКИЙ ИНСТИТУТ АВТОМАТИЗАЦИИ УПРАВЛЕНИЯ БИЗНЕСА</h1>
                            <h2>Профориентационная работа</h2>
                            <p>16 февраля  2024 года в рамках профориентационной  работы , силами преподавателей
                                Российско – Кыргызского института автоматизации управления бизнеса был проведен  День
                                открытых дверей в онлайн</p>
                            <div class="uncos__read">
                                <p>17 февраля 2024 г. 3:28</p>
                                <button>Читать полностью</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uncos__block">
                    <div class="uncos__box">
                        <img src="{% static '../assets/img/uncos/Rectangle 66.png' %}" alt="">
                        <div class="uncos__text">
                            <h1>РОССИЙСКО - КЫРГЫЗСКИЙ ИНСТИТУТ АВТОМАТИЗАЦИИ УПРАВЛЕНИЯ БИЗНЕСА</h1>
                            <h2>Профориентационная работа</h2>
                            <p>16 февраля  2024 года в рамках профориентационной  работы , силами преподавателей
                                Российско – Кыргызского института автоматизации управления бизнеса был проведен  День
                                открытых дверей в онлайн</p>
                            <div class="uncos__read">
                                <p>17 февраля 2024 г. 3:28</p>
                                <button>Читать полностью</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uncos__block">
                    <div class="uncos__box">
                        <img src="{% static '../assets/img/uncos/Rectangle 66.png' %}" alt="">
                        <div class="uncos__text">
                            <h1>РОССИЙСКО - КЫРГЫЗСКИЙ ИНСТИТУТ АВТОМАТИЗАЦИИ УПРАВЛЕНИЯ БИЗНЕСА</h1>
                            <h2>Профориентационная работа</h2>
                            <p>16 февраля  2024 года в рамках профориентационной  работы , силами преподавателей
                                Российско – Кыргызского института автоматизации управления бизнеса был проведен  День
                                открытых дверей в онлайн</p>
                            <div class="uncos__read">
                                <p>17 февраля 2024 г. 3:28</p>
                                <button>Читать полностью</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uncos__block">
                    <div class="uncos__box">
                        <img src="{% static '../assets/img/uncos/Rectangle 66.png' %}" alt="">
                        <div class="uncos__text">
                            <h1>РОССИЙСКО - КЫРГЫЗСКИЙ ИНСТИТУТ АВТОМАТИЗАЦИИ УПРАВЛЕНИЯ БИЗНЕСА</h1>
                            <h2>Профориентационная работа</h2>
                            <p>16 февраля  2024 года в рамках профориентационной  работы , силами преподавателей
                                Российско – Кыргызского института автоматизации управления бизнеса был проведен  День
                                открытых дверей в онлайн</p>
                            <div class="uncos__read">
                                <p>17 февраля 2024 г. 3:28</p>
                                <button>Читать полностью</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uncos__block">
                    <div class="uncos__box">
                        <img src="{% static '../assets/img/uncos/Rectangle 66.png' %}" alt="">
                        <div class="uncos__text">
                            <h1>РОССИЙСКО - КЫРГЫЗСКИЙ ИНСТИТУТ АВТОМАТИЗАЦИИ УПРАВЛЕНИЯ БИЗНЕСА</h1>
                            <h2>Профориентационная работа</h2>
                            <p>16 февраля  2024 года в рамках профориентационной  работы , силами преподавателей
                                Российско – Кыргызского института автоматизации управления бизнеса был проведен  День
                                открытых дверей в онлайн</p>
                            <div class="uncos__read">
                                <p>17 февраля 2024 г. 3:28</p>
                                <button>Читать полностью</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uncos__block">
                    <div class="uncos__box">
                        <img src="{% static '../assets/img/uncos/Rectangle 66.png' %}" alt="">
                        <div class="uncos__text">
                            <h1>РОССИЙСКО - КЫРГЫЗСКИЙ ИНСТИТУТ АВТОМАТИЗАЦИИ УПРАВЛЕНИЯ БИЗНЕСА</h1>
                            <h2>Профориентационная работа</h2>
                            <p>16 февраля  2024 года в рамках профориентационной  работы , силами преподавателей
                                Российско – Кыргызского института автоматизации управления бизнеса был проведен  День
                                открытых дверей в онлайн</p>
                            <div class="uncos__read">
                                <p>17 февраля 2024 г. 3:28</p>
                                <button>Читать полностью</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="uncos__number">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>...</p>
                    <p>25</p>
                    <p>26</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}